In [47]:
import pandas as pd
import numpy as np

import ast

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import PorterStemmer

from sklearn.metrics.pairwise import cosine_similarity

In [48]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [49]:
stemmer=PorterStemmer()
stop=stopwords.words('english')
print(type(stop))
print(len(stop))
#stop

<class 'list'>
179

In [50]:
movie_cr=pd.read_csv('tmdb_5000_credits.csv')
print(movie_cr.shape)
print(movie_cr.head(1))

(4803, 4)
   movie_id   title                                               cast  \
0     19995  Avatar  [{"cast_id": 242, "character": "Jake Sully", "...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...

In [51]:
movies=pd.read_csv('tmdb_5000_movies.csv')
print(movies.shape)
print(movies.head(1))
#print(movies.iloc[0,:])

(4803, 20)
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                      homepage     id  \
0  http://www.avatarmovie.com/  19995

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en

  original_title                                           overview  \
0         Avatar  In the 22nd century, a paraplegic Marine is di...

   popularity                               production_companies  \
0  150.437577  [{"name": "Ingenious Film Partners", "id": 289...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released

                       tagline   title  vote_average  vote_count
0  Enter the World of Pandora.  Avatar           7.2       11800

In [52]:
print(movies.shape)
movies.isnull().sum()

(4803, 20)

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [53]:
# movies.dropna(inplace=True)
# print(movies.shape)
# movies.isnull().sum()

In [54]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [55]:
movies.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object

In [56]:
movie_cr.rename({'movie_id':'id'},axis=1,inplace=True)
movie_cr.head(1)

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [57]:
movie_cr.dtypes

id        int64
title    object
cast     object
crew     object
dtype: object

In [58]:
print(movies.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [59]:
print(movie_cr.columns)

Index(['id', 'title', 'cast', 'crew'], dtype='object')

In [60]:
print(movies.shape)
print(movie_cr.shape)
movies=movies.merge(movie_cr,on=['id','title'],how='outer')
print(movies.shape)

(4803, 20)
(4803, 4)
(4803, 22)

In [61]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [62]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
dtype: int64

In [63]:
movies['overview'][6]

"When the kingdom's most wanted-and most charming-bandit Flynn Rider hides out in a mysterious tower, he's taken hostage by Rapunzel, a beautiful and feisty tower-bound teen with 70 feet of magical, golden hair. Flynn's curious captor, who's looking for her ticket out of the tower where she's been locked away for years, strikes a deal with the handsome thief and the unlikely duo sets off on an action-packed escapade, complete with a super-cop horse, an over-protective chameleon and a gruff gang of pub thugs."

In [64]:
movies['genres']=movies['genres'].apply(lambda x:ast.literal_eval(x))
movies['keywords']=movies['keywords'].apply(lambda x:ast.literal_eval(x))
movies['cast']=movies['cast'].apply(lambda x:ast.literal_eval(x))
movies['crew']=movies['crew'].apply(lambda x:ast.literal_eval(x))
#movies['cast']=movies['cast'].apply(lambda x:ast.literal_eval(x))

In [65]:
print(type(movies['cast'][0]))

<class 'list'>

In [66]:
# genres
# Keywords
# overview
# title
# cast
# crew
#id

In [67]:
movies=movies[['id','genres','title','overview','keywords','cast','crew']]
movies.head(1)

,id,genres,title,overview,keywords,cast,crew
0,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."

In [68]:
def genre_lis(genre):
    l=len(genre)
    lis_genre=[]
    for i in range(l):
        lis_genre.append(genre[i]['name'])
    return lis_genre

In [69]:
movies['keywords']=movies['keywords'].apply(lambda x:genre_lis(x))
movies.head(1)

,id,genres,title,overview,keywords,cast,crew
0,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."

In [70]:
movies['genres']=movies['genres'].apply(lambda x:genre_lis(x))
movies.head(1)

,id,genres,title,overview,keywords,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."

In [71]:
# ind=-1
def director_name(x):
    ind=0
    if len(x)==0:
        return 'NULL'
    else:
        for i in range(len(x)):
            if x[i]['job']=='Director':
                ind=i
                break
        return x[ind]['name']

def producer_name(x):
    ind=0
    if len(x)==0:
        return 'NULL'
    else:
        for i in range(len(x)):
            if x[i]['job']=='Producer':
                ind=i
                break
        return x[ind]['name']

In [72]:
movies['Director']=movies['crew'].apply(lambda x:director_name(x))
movies['Producer']=movies['crew'].apply(lambda x:producer_name(x))
movies.head(1)

,id,genres,title,overview,keywords,cast,crew,Director,Producer
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",James Cameron,James Cameron

In [73]:
movies.drop('crew',axis=1,inplace=True)
movies.head(1)

,id,genres,title,overview,keywords,cast,Director,Producer
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{'cast_id': 242, 'character': 'Jake Sully', '...",James Cameron,James Cameron

In [74]:
movies['cast']=movies['cast'].apply(lambda x:genre_lis(x))
movies.head(1)

,id,genres,title,overview,keywords,cast,Director,Producer
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,James Cameron

In [75]:
print(movies.isnull().sum())
movies.dropna(inplace=True)

id          0
genres      0
title       0
overview    3
keywords    0
cast        0
Director    0
Producer    0
dtype: int64

In [76]:
movies['overview']=movies['overview'].apply(lambda x:x.split(' '))
movies.head(1)

,id,genres,title,overview,keywords,cast,Director,Producer
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,James Cameron

In [77]:
# movies['title']=movies['title'].apply(lambda x:[x])
movies['Director']=movies['Director'].apply(lambda x:[x])
movies.head(1)

,id,genres,title,overview,keywords,cast,Director,Producer
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],James Cameron

In [78]:
movies['tag']=movies['genres']+movies['overview']+movies['keywords']+movies['cast']+movies['Director']
movies.head(1)

,id,genres,title,overview,keywords,cast,Director,Producer,tag
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],James Cameron,"[Action, Adventure, Fantasy, Science Fiction, ..."

In [79]:
movies=movies[['id','title','tag']]

In [80]:
movies.head(1)

      id   title                                                tag
0  19995  Avatar  [Action, Adventure, Fantasy, Science Fiction, ...

In [81]:
movies['tag']=movies['tag'].apply(lambda y:list(map(lambda x:x.replace(" ",''),y)))

In [82]:
# print(movies['tag'][0])

def preprocessing(x):
    # x=[word.lower() for word in x]
    # x=[word for word in x if word not in stop]
    x=[stemmer.stem(word) for word in x]
    
    return " ".join(x)

movies['tag']=movies['tag'].apply(lambda x:preprocessing(x))
# print(movies['tag'][0])

In [83]:
print(movies.shape)

(4800, 3)

In [84]:
vectorizer=CountVectorizer(max_features=5000,stop_words='english')
k=vectorizer.fit_transform(movies['tag'])
features=vectorizer.get_feature_names()
print(len(features))
cv=k.toarray()
print(cv.shape)

5000
(4800, 5000)

In [85]:
similarity=cosine_similarity(cv)
similarity

array([[1.        , 0.06593805, 0.0745356 , ..., 0.04259177, 0.        ,
        0.        ],
       [0.06593805, 1.        , 0.07372098, ..., 0.02106314, 0.        ,
        0.02302656],
       [0.0745356 , 0.07372098, 1.        , ..., 0.02380952, 0.        ,
        0.        ],
       ...,
       [0.04259177, 0.02106314, 0.02380952, ..., 1.        , 0.04307305,
        0.04462107],
       [0.        , 0.        , 0.        , ..., 0.04307305, 1.        ,
        0.09417632],
       [0.        , 0.02302656, 0.        , ..., 0.04462107, 0.09417632,
        1.        ]])

In [86]:
print(similarity.shape)
print(similarity[1].shape)
print(similarity[1])

(4800, 4800)
(4800,)
[0.06593805 1.         0.07372098 ... 0.02106314 0.         0.02302656]

In [87]:
def Recommendation(m,n):
    recommended_movies=[]
    ind=np.where(movies['title']==m)[0][0]
    similarity_score=list(enumerate(similarity[ind]))
    similarity_score=sorted(similarity_score,key=lambda x:x[1],reverse=True)[1:]
    for i in range(n):
        rec_ind=similarity_score[i][0]
        recommended_movie=movies.loc[rec_ind,'title']
        recommended_movies.append(recommended_movie)
    return recommended_movies

In [88]:
movies['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4800, dtype: object

In [89]:
print(Recommendation("Avatar",5))

['Aliens vs Predator: Requiem', 'Predator', 'Battle: Los Angeles', 'Anne of Green Gables', 'Independence Day']